@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 93 8% 14%; /* #222720 */
    --foreground: 0 0% 98%;
    --card: 93 8% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 93 8% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 34% 52%; /* #B09B5B */
    --primary-foreground: 93 8% 14%; /* #222720 */
    --secondary: 88 14% 30%; /* #4A553D */
    --secondary-foreground: 0 0% 98%;
    --muted: 88 14% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 88 14% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 14% 25%;
    --input: 88 14% 25%;
    --ring: 47 34% 52%; /* #B09B5B */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 93 8% 14%; /* #222720 */
    --foreground: 0 0% 98%;
    --card: 93 8% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 93 8% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 34% 52%; /* #B09B5B */
    --primary-foreground: 93 8% 14%; /* #222720 */
    --secondary: 88 14% 30%; /* #4A553D */
    --secondary-foreground: 0 0% 98%;
    --muted: 88 14% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 88 14% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 14% 25%;
    --input: 88 14% 25%;
    --ring: 47 34% 52%; /* #B09B5B */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
