@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 120 7% 19%; /* #2A342A */
    --foreground: 0 0% 94%; /* #F0F0F0 */
    --card: 143 7% 26%; /* #3E4841 */
    --card-foreground: 0 0% 94%;
    --popover: 120 7% 19%;
    --popover-foreground: 0 0% 94%;
    --primary: 47 34% 52%; /* #B09B5B */
    --primary-foreground: 120 7% 19%; /* #2A342A */
    --secondary: 143 7% 26%; /* #3E4841 */
    --secondary-foreground: 0 0% 94%;
    --muted: 143 7% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 143 7% 22%;
    --accent-foreground: 0 0% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 7% 22%;
    --input: 143 7% 22%;
    --ring: 47 34% 52%; /* #B09B5B */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 120 7% 19%; /* #2A342A */
    --foreground: 0 0% 94%; /* #F0F0F0 */
    --card: 143 7% 26%; /* #3E4841 */
    --card-foreground: 0 0% 94%;
    --popover: 120 7% 19%;
    --popover-foreground: 0 0% 94%;
    --primary: 47 34% 52%; /* #B09B5B */
    --primary-foreground: 120 7% 19%; /* #2A342A */
    --secondary: 143 7% 26%; /* #3E4841 */
    --secondary-foreground: 0 0% 94%;
    --muted: 143 7% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 143 7% 22%;
    --accent-foreground: 0 0% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 7% 22%;
    --input: 143 7% 22%;
    --ring: 47 34% 52%; /* #B09B5B */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
